@model IEnumerable<TwentyFirst.Common.Models.Articles.ArticleListViewModel>
@{
    ViewData["Title"] = "Всички новини";
}

@if (Model.Any())
{
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Title)</th>
            <th>@Html.DisplayNameFor(model => model.PublishedOn)</th>
            <th>@Html.DisplayNameFor(model => model.IsTop)</th>
            <th>@Html.DisplayNameFor(model => model.IsImportant)</th>
            <th>@Html.DisplayNameFor(model => model.CreatorUserName)</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var article in Model)
        {
            <tr>
                <td scope="col">
                    <div class="post-content text-admin-twenty-first">
                        <a asp-area="Administration" asp-controller="Articles" asp-action="Edit" asp-route-id="@article.Id" class="headline">
                            <h5 class="mb-0">@article.Title</h5>
                        </a>
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.PublishedOn)
                </td>
                <td>
                    @if (article.IsTop)
                    {
                        <span>&#10004;</span>
                    }
                    else
                    {
                        <span>&#10008;</span>
                    }

                </td>
                <td>
                    @if (article.IsImportant)
                    {
                        <span>&#10004;</span>
                    }
                    else
                    {
                        <span>&#10008;</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => article.CreatorUserName)
                </td>
                <td>
                    <a asp-area="" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id"
                       class="btn btn-admin-twenty-first text-light">Виж</a>
                </td>
                <td>

                    <a asp-area="Administration" asp-controller="Articles" asp-action="Delete" asp-route-id="@article.Id"
                       class="btn btn-danger text-light">Изтрий</a>

                </td>
            </tr>
        }
        </tbody>
    </table>

    <hr/>
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new { pageNumber }), 
        PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
}




