@model IEnumerable<TwentyFirst.Common.Models.Articles.ArticleListViewModel>
@{
    ViewData["Title"] = "Всички новини";
}
<div class="hero-area fixed-height-100 sides"></div>
@if (Model.Any())
{

    <div class="main-content-wrapper py-3">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area Start ============= -->
                <div class="col-12 col-lg-8">
                    <div class="post-content-area mb-100">
                        <!-- Catagory Area -->
                        <div class="world-catagory-area">
                            @await Component.InvokeAsync("categories")

                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="world-tab-1" role="tabpanel" aria-labelledby="tab1">
                                    @foreach (var article in Model)
                                    {
                                        <!-- Single Blog Post -->
                                        <div class="single-blog-post post-style-4 d-flex align-items-center">
                                            <!-- Post Thumbnail -->
                                            <div class="post-thumbnail">
                                                <img src="@article.Image?.ThumbUrl" alt="@article.Image?.Title">
                                            </div>
                                            <!-- Post Content -->
                                            <div class="post-content">
                                                <a asp-area="" asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" class="headline">
                                                    <h5>@article.Title</h5>
                                                </a>
                                                <p>@article.Lead</p>
                                                <!-- Post Meta -->
                                                <div class="post-meta">
                                                    <p class="post-date">@article.PublishedOnString</p>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ========== Sidebar Area ========== -->
                <div class="col-12 col-md-8 col-lg-4">
                    <partial name="_SidebarPartial" />
                </div>
            </div>
            <hr />
            @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new { pageNumber }),
                PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
        </div>
    </div>
}
else
{
    <p>Все още няма добавени новини.</p>
}

@section Scripts {
    <script>
        $('document').ready(function () {
            var href = window.location.href;

            $("a").each(function () {
                if (this.href == href) {
                    $(this).addClass("text-admin-twenty-first font-weight-bold");
                }
            });
        });
    </script>
}