@model TwentyFirst.Common.Models.Images.ImageSearchViewModel

@if (Model.SearchResultImages.Any())
{
    <div class="container">
        <div class="row">
            @foreach (var image in Model.SearchResultImages)
            {
                if (!image.IsDeleted)
                {
                    <div class="card col-md-6 border-top">
                        <a href="#" class="selected-image" data-item-id="@image.Id" data-item-url="@image.ThumbUrl">
                            <img class="card-img-top fixed-height-300 img-thumbnail" src="@image.ThumbUrl" alt="Card image cap">
                            <div class="card-body p-0">
                                <h6 data-toggle="tooltip" data-placement="top" title="@image.Description">
                                    @image.ShortDescription
                                </h6>
                            </div>
                        </a>
                        <div class="blockquote-footer">
                            <div class="col-md-12 fa fa-camera-retro"><em> @image.Author</em></div>
                            <div class="col-md-12 fa fa-calendar-check-o"> @image.CreatedOnOnString</div>
                        </div>
                        @if (this.User.IsInRole(GlobalConstants.MasterAdministratorRoleName) || 
                             this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                        {
                            <div class="btn-group my-3">
                                <a asp-area="Administration" asp-controller="Images" asp-action="Delete" asp-route-id="@image.Id" class="btn btn-sm btn-danger">Изтрий</a>
                            </div>
                        }
                    </div>
                }
                else if (image.IsDeleted && 
                         (this.User.IsInRole(GlobalConstants.MasterAdministratorRoleName) || 
                         this.User.IsInRole(GlobalConstants.AdministratorRoleName)))
                {
                    <div class="card col-md-6 border-top">
                        <a href="#" class="selected-image" data-item-id="@image.Id" data-item-url="@image.ThumbUrl">
                            <img class="card-img-top fixed-height-300 img-thumbnail" src="@image.ThumbUrl" alt="Card image cap">
                            <div class="card-body p-0">
                                <h6 data-toggle="tooltip" data-placement="top" title="@image.Description">
                                    @image.ShortDescription
                                </h6>
                            </div>
                        </a>
                        <div class="blockquote-footer">
                            <div class="col-md-12 fa fa-camera-retro"><em> @image.Author</em></div>
                            <div class="col-md-12 fa fa-calendar-check-o"> @image.CreatedOnOnString</div>
                        </div>
                        <div class="btn-group my-3">
                            <a asp-area="Administration" asp-controller="Images" asp-action="Recover" asp-route-id="@image.Id" class="btn btn-sm btn-success">Възстанови</a>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row justify-content-center py-3">
            @Html.PagedListPager((IPagedList)Model.SearchResultImages,
                pageNumber => Url.Action("Search", "Images", new { Model.SearchTerm, pageNumber }),
                PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
        </div>
    </div>
}
else
{
    <p class="text-muted py-3">Няма снимки с такова описание...</p>
}