@model IEnumerable<TwentyFirst.Common.Models.Interviews.InterviewAdminListViewModel>
@{
    ViewData["Title"] = "Всички интервюта";
}

@if (Model.Any())
{
    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Title)</th>
                <th>@Html.DisplayNameFor(model => model.PublishedOnString)</th>
                <th>@Html.DisplayNameFor(model => model.Interviewed)</th>
                <th>@Html.DisplayNameFor(model => model.CreatorUserName)</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var interview in Model)
            {
                <tr>
                    <td scope="col">
                        <div class="post-content text-admin-twenty-first">
                            <a asp-area="Administration" asp-controller="Interviews" asp-action="Edit" asp-route-id="@interview.Id" class="headline">
                                <h5 class="mb-0">@interview.Title</h5>
                            </a>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => interview.PublishedOnString)
                    </td>
                    <td>@interview.Interviewed</td>
                    <td>@interview.CreatorUserName</td>
                    <td>
                        <div class="row">
                            <a asp-area="" asp-controller="Interviews" asp-action="Details" asp-route-id="@interview.Id"
                               class="btn btn-sm btn-admin-twenty-first text-light w-100">Виж</a>
                            @if (this.User.IsInRole(GlobalConstants.MasterAdministratorRoleName) ||
                              this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                            {
                                <a asp-area="Administration" asp-controller="Interviews" asp-action="AllEdits" asp-route-id="@interview.Id"
                                   class="btn btn-sm btn-primary text-light w-100">Редакции</a>
                            }
                            <a asp-area="Administration" asp-controller="Interviews" asp-action="Delete" asp-route-id="@interview.Id"
                               class="btn btn-sm btn-danger text-light w-100">Изтрий</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <hr />
    @Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("Index", new { pageNumber }),
        PagedListRenderOptionsBase.OnlyShowFivePagesAtATime)
}
else
{
    <p>Все още няма добавени интервюта.</p>
}



